{% extends 'base.html' %}

{%block content%}

<h1 style="color:#cccccc;">Gry</h1>
<div class="row">
    {% for game in games %} <!-- template tag tak to się w Django nazywa -->
        <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="{{ game.picture_url }}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{ game.title }}</h5>
                <p class="card-text">${{ game.price }}</p>
                 <a class="btn btn-primary"  data-toggle="collapse" data-target="#program">Show more </a>
                <a class="btn btn-primary" href="http://127.0.0.1:8000/pay/">Kup </a>
                <div id="program" class="collapse">
                     <p class="card-text">{{ game.description }}</p>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}